/* styles.css */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header{
     display: flex;
     flex-wrap:unset;
     justify-content: space-between;
     align-items: center;
     height: 120px;
     padding: 15px ;
     background-color: rgb(255, 255, 255);
     font-size: 70px;
     width: 100%;
 
 }
 .logo{
     display: flex;
     align-items: center;
     
     
 }
 .logo img{
     height: 100px;
     margin-right: 10px;
     
 }

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style:none;
    margin-right: 30px;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color:gold;
}

form {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    float: left;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;

    margin: 5px 0 22px 0;
    display: inline-block;
    border-color:#333;
    background: #f1f1f1;
}

form button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 8px 0;
    opacity: 0.9;
    
}

form button:hover {
    background-color: #555;
    opacity:1;
}
.fondo{
    background-image:url('./FotoFondo.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.contenedor1{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    top:668px;
    height: 575px;
}
.fotografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding:0 20px;
}
.imagengra{
    height: 390px;
    width: 523px;
    margin: 0 auto;
    display: flex;
}
.texto1{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 29px;
    
}
.botons button{
    margin-left: 20px;
    font-weight: 700;
    color: darkslateblue;
    padding: 25px 45px;
    background: whitesmoke;
    border-radius: 50px;
    border-color: #555;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.botons button:hover{
    background-color:beige;
    color:mediumorchid;
    transform: scale(1.1);
}

.trContenedor{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.imaformacion1{
    color: cadetblue 75%;
    left: 0px;
    top: 869px;
    width: 400px;
    height: 300px;
    left: 0px;
    top: 869px;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 50px;
}


.imaformacion1 img{
    width: 200px;
    height: 200px;
    left: 220px;
    top: 946px;
    border-radius: 60%;
    border: 7px solid #000000ad;
    
}
.fondo1{
    width: 700px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    float: left;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgba(122, 113, 111, 0.493);
    color: white;
    display: flex;
    flex-wrap:unset;
    justify-content: space-between;
    align-items: center;
}

